<div class="jumbotron">
        <div class="container">
          <h1 class="display-5">Lista de Pedidos</h1>
        </div>
</div>
<div class="container1">
<p-table [columns]="cols" [value]="pedidos" class="centro">
        <ng-template pTemplate="caption">
            Pedidos
        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Mesa</th>
                    <th>Camarero</th>
                    <th>Detalle</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pedido>
                <tr>
                    <td>{{pedido.id}}</td>
                    <td>{{pedido.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>{{pedido.mesa}}</td>
                    <td>{{pedido.camarero.nombre }}</td>
                    <td><button pButton  type="button" label="Detalle" (click)="goToDetalle(pedido.id)"></button></td>
                </tr>
            </ng-template>
        <ng-template pTemplate="summary">
            Hay {{pedidos?.length}} pedidos
        </ng-template>
</p-table>
</div>

