<h1>Lista de Compras</h1>

Producto: <input type="text" [(ngModel)]="nombreProducto"><br>
Cantidad: <input type="number" [(ngModel)]="cantidadProducto"><br>
<button type ="submit" (click)="anyadir()">Añadir</button><br>

<table id="customers">
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
    </tr>
    
    <tr *ngFor ="let producto of productos" (click)="eliminar(producto)">
          <td>{{producto.nombre}}</td>
          <td>{{producto.cantidad}}</td>
    </tr>
      
    
</table>
<br>