<div class="jumbotron">
    <div class="container">
        <h1 class="display-5">Crear Camarero</h1>
    </div>
</div>

<div class="container1">
    <h5 class="first paddingTop">Id</h5>
    <p-spinner size="30" [(ngModel)]="newCamarero.codigo" min=0 ></p-spinner>

    <h5 class="first paddingTop">Nombre</h5>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="newCamarero.nombre"> 

    <div class="paddingTop"></div>
    <button pButton type="button" label="Proceder" class="ui-button-success" (click)="create()"></button>
</div>
