<!--<router-outlet></router-outlet>


<app-ejercicio1></app-ejercicio1>
*********************************
<app-ejercicio2></app-ejercicio2>
*********************************<br>
<app-ejercicio3></app-ejercicio3>
*********************************<br>
<app-ejercicio4></app-ejercicio4>
*********************************
<app-ejercicio5></app-ejercicio5>-->


<h1>DEMO ROUTING</h1>


<nav>
    <ul>
        <li><a routerLink="/ejercicio1" >EJERCICIO 1</a></li>
        <li><a routerLink="/ejercicio2" >EJERCICIO 2</a></li>
        <li><a routerLink="/ejercicio3" >EJERCICIO 3</a></li>
        <li><a routerLink="/ejercicio4" >EJERCICIO 4</a></li>
        <li><a routerLink="/ejercicio5" >EJERCICIO 5</a></li>
    </ul>
</nav>

<router-outlet></router-outlet><!---Destino de los componentes-->
<hr>
<p>FOOTER APP</p>

